* {
  background-color: #282828;
  color: #fff;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.booklist {
  width: 90vh;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    /* margin: 3rem; */
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background-color: #404040;
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.book h2 {
  margin-top: 0.5rem; 
}
